<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Perguntas!</h1>
    <hr>
    <h3>Perguntas!</h3>

    <p><%= nome%></p>
    <p><%= lang%></p>
    <p><%= idade%></p>
    <%if(!msg){ %>
        <h3>Mensagem de erro</h3>
    <% }else{ %>
        <h3>Sem erro</h3>
    <% }%>
    

    <% produtos.forEach((produto) => { %>
        <p><%= produto.nome %></p>
        <p> <%= produto.preco %></p>
    <% })%>
</body>
</html>